# -- TOOLBAR DEFINITION FILE FOR K-MELEON --
# -- TO HIDE A BUTTON, ADD '#' TO THE LEFT OF ALL THE BUTTON'S LINES --
# -- EXAMPLE & DESCRIPTIONS AT BOTTOM OF FILE --
# -- IMAGES BY: Lim Chee Aun (http://www.phoenity.com) --
# ---------------------------------------------------------------------

&Main Bar{

	Back{
	navBack|SHistoryBack
	Go back one page
	}

	Forward{
	navForward|SHistoryForward
	}

	Stop{
	navStop
	}

	Reload{
	%ifplugin macros
	navReload|Reloa&ding
	%else
	navReload
	%endif
	}

	Home{
	%ifplugin macros
	macros(Home)|Ho&me
	Open Home Page. Right-click for more options.
	%else
	navHome
	%endif
	}

  Search{
	%ifplugin macros
# EITHER:
	macros(Search)|_Search_Engines
# OR:
#	macros(Search)|&Web Search
	Type a word or phrase in the URL Bar, then click this button or press Ctrl+G to search the Web. Right-click to choose different search engine.
	%else
	navSearch
	%endif
	}

#	%ifplugin macros
#	Popups{
#	macros(pref_TogglePopups)
#	Block Popups. Press F8 to toggle.
#	}
#	%endif

#	-

#	Options{
#	openPrefs|Compact Menu
#	View Preferences. Right-click to view Compact Menu.
#	}

}


%ifplugin macros

Mail/&News Buttons{

	Mail{
	macros(Mail_ReadMail)|&Mail And News
	Read Mail. Right-click for more options.
	}

	News{
	macros(Mail_ReadNews)
	Read News
	}

	RSS{
	macros(RSS)
	Read RSS Feeds
	}
}


%endif


&Zoom Buttons{

	Zoom In{
	%ifplugin macros
	macros(Zoom_In)|_Zoom_In
	Zoom In. Right-click for more options.
	%else
	pageZoomIncrease
	%endif
	}

	Zoom Out{
	%ifplugin macros
	macros(Zoom_Out)|_Zoom_Out
	Zoom Out. Right-click for more options.
	%else
	pageZoomDecrease
	%endif
	}

}



&Go Buttons{

	Go{
	%ifplugin macros
	macros(Go_Selected)|_Go
	Go to URL. Right-click for more options.
	%else
	navGo
	%endif
	}

	%ifplugin macros
	Up{
	macros(Go_Up)|_Up
	Go up one directory level. Right-click for more options.
	}
	%endif

}


Tab/&Window Buttons{

	Prev{
	%ifplugin tabs
	tabPrev|Prev
	%else
	windowPrev|Prev
	%endif
	}

	Next{
	%ifplugin tabs
	tabNext|Next
	%else
	windowNext|Next
	%endif
	}

	-

	New{
	%ifplugin tabs
	tabNew|New
	%else
	windowNew
	%endif
	}

	Close{
	%ifplugin tabs
	tabClose|Close
	%else
	windowClose|Close
	%endif
	}

}


%ifplugin macros|privacy

&Privacy Bar(0,0){

	%ifplugin macros

#	!Animation{
#	macros(pref_ToggleAnimation)
#	Block Image Animation
#	}

#	!Colors{
#	macros(pref_ToggleColors)
#	Block Page Colors
#	}

#	!User Agent{
#	appAbout|&User Agent
#	Check Browser Identity. Right-click to choose different User Agent.
#	}

	!Cookies{
	macros(pref_ToggleCookies)|&Privacy
	Block Cookies
	check.png[0,32,32]
	}

	!Java{
	macros(pref_ToggleJava)|&Privacy
	Block Java Applets
	check.png[0,32,32]
	}

	!JavaScript{
	navToggleJS|&Privacy
	Block JavaScript. Press F7 to toggle.
	check.png[0,32,32]
	}
	
#	!Proxy{
#	macros(Proxy_Toggle)|Pro&xy
#	Disable Proxy.
#	check.png[0,32,32]
#	}
	
#	!JavaScript Page{
#	pageToggleJS|&Privacy
#	Block JavaScript on the current page.
#	check.png[0,32,32]
#	}

	!Popups{
	macros(pref_TogglePopups)|&Privacy
	Block Popups. Press F8 to toggle.
	check.png[0,32,32]
	}
	
  !Images{
	macros(pref_ToggleImages)|&Privacy
	Block Images. Press F9 to toggle.
	check.png[0,32,32]
	}	

#	!Referer{
#	macros(pref_ToggleReferer)|&Privacy
#	Block HTTP Referer
#	}

	%endif
	
	%ifplugin privacy

	!Clear Cache{
	privacy(ClearCache)|&Clear Data
	Clear Cache
	}

#	!Clear Cookies{
#	privacy(ClearCookies)|&Clear Data
#	Clear Cookies
#	}

#	!Clear History{
#	privacy(ClearHistory)|&Clear Data
#	Clear History
#	}

#	!Clear Passwords{
#	privacy(ClearSignon)|&Clear Data
#	Clear Passwords
#	}

#	!Clear URLBar{
#	privacy(ClearMRU)|&Clear Data
#	Clear URL Bar History
#	}

	%endif

#	%ifplugin macros & privacy
#	!Clear All{
#	macros(kPrivacy_ClearAll)|&Clear Data
#	Clear All
#	}
#	%endif
	
	%ifplugin macros

	!Kill Flash{
	macros(JS_killFlash)|&Privacy
	Kill Flash Objects
	}

#	!Kill Applets{
#	macros(JS_killApplets)|&Privacy
#	Kill Java Applets
#	}
	


	%endif

}

%ifplugin macros
JavaScript &Console{
	JavaScript &Console{
	macros(Console2)
	JavaScript &Console
	}
	So&urce Code{
	viewSource
	}
}
%endif

Browser Con&figuration{

  %ifplugin bookmarks
	Bookmarks{
	bookmarks(Add)|&Bookmarks
	Add Bookmark. Right-click for more options.
	}
	%endif

	%ifplugin favorites
	Favorites{
	favorites(Edit)|F&avorites
	Edit Favorites. Right-click for more options.
	}
	%endif

	%ifplugin hotlist
	Hotlist{
	hotlist(Edit)|H&otlist
	Edit Hotlist. Right-click for more options.
	}
	%endif

	%ifplugin macros
	History{
	macros(Places_History)|Histor&y
	View History. Right-click for more options. 
	}
	%endif
	
	Browser Con&figuration{
	Compact Menu
	Menu
	}

}

&Save Page As...{

	Save{
	saveAs
	&Save Page As...
	}
}

# EXAMPLE-----------------------------------------------------------------

# Tool Bar(16,16){	= NAME OF TOOLBAR (WIDTH, HEIGHT)* default = icon system size

# Print{	= NAME OF BUTTON
# filePrint|Print 	= ID COMMAND, PLUGIN COMMAND, OR MACRO | MENU NAME (as defined in menus.cfg)
# Print this page 	= TOOL TIP *optional
# toolhot.bmp[0] 	= HOT IMAGE [INDEX WITHIN IMAGE FILE] *optional
# toolcold.bmp[0] 	= COLD IMAGE [INDEX WITHIN IMAGE FILE] *optional
# tooldead.bmp[0] 	= DISABLED IMAGE [INDEX WITHIN IMAGE FILE] *optional
# } 			= END OF BUTTON

# - 			= SEPARATOR

# } 			= END OF TOOL BAR

# NO TOOL BAR IMAGES 	= TEXT BASED TOOL BAR WITH BUTTON NAMES FOR IMAGES
# Button name starts with ! sign = Text based toolbar. If images are defined, the buttons show Image+Name

# *width and height are optionnal and should be only used in specific case 

# *Any changes will take effect after K-Meleon is restarted*
# ------------------------------------------------------------------------
