# .gitignore - List of filenames git should ignore

# Filenames that should be ignored wherever they appear
*~
*.pyc
*.pyo
TAGS
tags
ID
.DS_Store*
*.pdb
*.ipch
*.opensdf
*.vcxproj.user

# Vim swap files.
.*.sw[a-z]

# Emacs directory variable files.
**/.dir-locals.el

# User files that may appear at the root
/.mozconfig*
/mozconfig
/configure
/config.cache
/config.log
/.clang_complete
/mach.ini

# Empty marker file that's generated when we check out NSS
security/manager/.nss.checkout

# Build directories
/obj*/
/_Release
/Release
/KM-Goanna*

/k-meleon/Debug*
/k-meleon/Release*

/k-meleon/JSBridge/Debug*
/k-meleon/JSBridge/Release*
/k-meleon/bmp_menu/Debug*
/k-meleon/bmp_menu/Release*
/k-meleon/fullscreen/Debug*
/k-meleon/fullscreen/Release*
/k-meleon/gestures/Debug*
/k-meleon/gestures/Release*
/k-meleon/ie_favorites/Debug*
/k-meleon/ie_favorites/Release*
/k-meleon/loader/Debug*
/k-meleon/loader/Release*
/k-meleon/login/Debug*
/k-meleon/login/Release*
/k-meleon/macros2/Debug*
/k-meleon/macros2/Release*
/k-meleon/ns_bookmarks/Debug*
/k-meleon/ns_bookmarks/Release*
/k-meleon/op_hotlist/Debug*
/k-meleon/op_hotlist/Release*
/k-meleon/privacy/Debug*
/k-meleon/privacy/Release*
/k-meleon/rebar_menu/Debug*
/k-meleon/rebar_menu/Release*
/k-meleon/sessions/Debug*
/k-meleon/sessions/Release*
/k-meleon/toolbars/Debug*
/k-meleon/toolbars/Release*

# XULRunner SDK
/xulrunner-sdk

# KM archives
/KM*.7z
