/*
 * K-Meleon default styles for macro generated documents
 *
 * Users can override these defaults in their userContent.css (!important keyword required)
 *
 */

body.km_lstLinks,
body.km_lstLinkedImages,
body.km_lstImages { margin: 0; padding: 0.5em 0.75em 0.75em; }

body.km_lstLinks > fieldset + fieldset,
body.km_lstLinkedImages > fieldset + fieldset,
body.km_lstImages > fieldset + fieldset { margin-top: 0.5em; }

body.km_lstLinkedImages img,
body.km_lstImages img { vertical-align: top; }
body.km_lstLinkedImages li,
body.km_lstImages li { padding-top: 1em; }
