/*
 * K-Meleon default styles for macro generated documents (docinfo.kmm)
 *
 * Users can override these defaults in their userContent.css (!important keyword required)
 *
 */

body.km_DocInfo_lstLinks,
body.km_DocInfo_lstLinkedImages,
body.km_DocInfo_lstImages { margin: 0; padding: 0.5em 0.75em 0.75em; }

body.km_DocInfo_lstLinks > fieldset + fieldset,
body.km_DocInfo_lstLinkedImages > fieldset + fieldset,
body.km_DocInfo_lstImages > fieldset + fieldset { margin-top: 0.5em; }

body.km_DocInfo_lstLinkedImages img,
body.km_DocInfo_lstImages img { vertical-align: top; }
body.km_DocInfo_lstLinkedImages li,
body.km_DocInfo_lstImages li { padding-top: 1em; }
