/* Wedit generated resource file */
#include <windows.h>
#include "privacy_res.h"


DLG_CONFIG DIALOG 0, 0, 145, 237
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Privacy Plugin Settings"
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "OK", IDOK, 24, 217, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 80, 217, 40, 14
    GROUPBOX        "Cookies", 101, 6, 6, 134, 37
    AUTOCHECKBOX    "Clear on startup", CHK_COOKIES_STARTUP, 13, 17, 65, 10
    PUSHBUTTON      "Clear now", BTN_CLEAR_COOKIES, 92, 20, 40, 14
    AUTOCHECKBOX    "Clear on shutdown", CHK_COOKIES_SHUTDOWN, 13, 27, 74, 
                    10
    GROUPBOX        "Disk Cache", 105, 6, 48, 134, 37
    AUTOCHECKBOX    "Clear on startup", CHK_CACHE_STARTUP, 13, 59, 65, 10
    PUSHBUTTON      "Clear now", BTN_CLEAR_CACHE, 92, 62, 40, 14
    AUTOCHECKBOX    "Clear on shutdown", CHK_CACHE_SHUTDOWN, 13, 69, 74, 10
    GROUPBOX        "Address Bar History", 109, 6, 132, 134, 37
    AUTOCHECKBOX    "Clear on startup", CHK_MRU_STARTUP, 13, 143, 65, 10
    PUSHBUTTON      "Clear now", BTN_CLEAR_MRU, 92, 146, 40, 14
    AUTOCHECKBOX    "Clear on shutdown", CHK_MRU_SHUTDOWN, 13, 153, 74, 10
    GROUPBOX        "Saved Passwords", 113, 6, 174, 134, 37
    AUTOCHECKBOX    "Clear on startup", CHK_SIGNON_STARTUP, 13, 185, 65, 10
    PUSHBUTTON      "Clear now", BTN_CLEAR_SIGNON, 92, 188, 40, 14
    AUTOCHECKBOX    "Clear on shutdown", CHK_SIGNON_SHUTDOWN, 13, 195, 74, 
                    10
    GROUPBOX        "History", 117, 6, 90, 134, 37
    AUTOCHECKBOX    "Clear on startup", CHK_HISTORY_STARTUP, 13, 101, 65, 10
    PUSHBUTTON      "Clear now", BTN_CLEAR_HISTORY, 92, 104, 40, 14
    AUTOCHECKBOX    "Clear on shutdown", CHK_HISTORY_SHUTDOWN, 13, 111, 74, 
                    10
END
