#include "macros.h"
#include "../resource.h"
#include <windows.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDD_PROMPT DIALOG DISCARDABLE  0, 0, 250, 58
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Prompt"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_ANSWER, 7,20, 236,13, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,130,39,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,189,39,50,14
    LTEXT           "Prompt", IDC_PROMPT, 10,7, 230,13
END
