#include "layers.h"
#include "../resource.h"
#include <windows.h>

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDD_CONFIG DIALOG DISCARDABLE  0, 0, 166, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Layered Windows Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,73,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,108,73,50,14
    GROUPBOX        "Options",IDC_STATIC,7,7,152,61
    CONTROL         "Enable Layers Toolbar",IDC_REBARENABLED,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,25,24,106,11
    LTEXT           "You must restart K-Meleon for any changes to take effect.",
                    IDC_STATIC,27,42,125,18
END

