@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
toolbox {
  -moz-appearance: toolbox;
  background-color: -moz-Dialog;
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
}
toolbar {
  min-width: 1px;
  min-height: 19px;
  border-top: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDShadow;
}
toolbar[type="menubar"], menubar {
  min-width: 1px;
  border-bottom: 1px solid ThreeDShadow;
  border-top: 0px !important;
}
toolbarseparator {
  margin : 2px 0.2em;
  border-right : 1px solid ThreeDHighlight;
  border-left : 1px solid ThreeDShadow;
  width : 2px;
}
toolbarspacer {
  width: 15px;
}
toolbarpaletteitem {
  cursor: -moz-grab;
}
.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #808080;
  background-color: #FFF !important;
}
toolbarpaletteitem[place="toolbar"] {
  margin-left: -2px;
  margin-right: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}
.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}
.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}
.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.gif") no-repeat center;
}
toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}
toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}